<div class="login-container">

    <div class="login-control">

        <div class="error" *ngFor="let message of errorMessage">
            {{ message }}
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
            <input formControlName="email" type="text" placeholder="Email" required>
            <input formControlName="password" type="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>
    </div>

</div>