/* You can add global styles to this file, and also import other style files */

// @import './bulma-base.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$lightYellow: rgb(247, 181, 0);
$yellow: rgb(247, 181, 0);
$brown: rgb(126, 89, 0);
$gray: rgb(245, 245, 245);

* {
    font-family: "Open Sans", "sans-serif";
}
