<p>default-page works!</p>

<div *ngIf="this.authService.isLoggedIn()">

    <p>You are currently logged in.</p>
    <p><a routerLink="/auth/logout">Logout</a></p>

</div>

<div *ngIf="!this.authService.isLoggedIn()">

    <p>You are currently logged out.</p>
    <p><a routerLink="/auth/login">Login</a></p>

</div>  